/* styles.css */
.reportview-container {
    background-image: url('https://github.com/artipanchall/Course-recommendation-system/blob/271c89f01c8f3376a2f89f7c0421e75a9e48c9f1/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
